// Color scheme
@alpha: #117b7b;
@beta: #1e3f89;
@gamma: #17a417;

@headertext: mix(@alpha, @gamma, 30%);
@linktext: white;

body {

    //font-family: 'Arvo', serif;
    //font-family: 'Varela Round', sans-serif;
    font-family: 'Habibi', sans-serif;
    background-color: @alpha;

    h1, h2 { 
        color: @headertext;
    }

    h1 {
        font-family: 'Days One', serif;
    }

    h2 {
        font-family: 'Habibi', serif;
    }


    a { color: @linktext; }

    header {
        background: @beta;
        padding: 1em;
        margin: 1em;
        border-radius: 1em;

        img { 
            padding: 1em;
            float: left; 
        }
    }

    footer {
        background: @beta;
        padding: 1em;
        border-radius: 1em;
    }

    .category-content {
        display: none;
        padding: 1em;
        margin-top: 0.5em;
        border-radius: 1em;
        background: white;
        color: black;

        h1, h2 { color: @beta; }
        position: absolute;
        width: 60%;
    };

    #category-menu {
        &>ul { 
            
            list-style: none;

            &>li {

                display: inline;
                margin: .1em;

                background: mix(@gamma, @beta, 50%);
                padding: 1em;
                border-top-left-radius: 0.5em;
                border-top-right-radius: 0.5em;
                border: solid white 3px;

                h1 { display: inline; };
                &:hover {
                    background: white;

                    .category-content {
                        display: block;
                    }
                }
            }
        }
    }
}
