// Color scheme
@alpha: #117b7b;
@beta: #1e3f89;
@gamma: #17a417;

@headertext: lighten( mix(@alpha, @gamma, 30%), 10%);
@linktext: lighten(@beta, 30%);

body {

    font-family: 'Habibi', sans-serif;
    background-color: @alpha;

    h1, h2 { 
        color: @headertext;
    }

    h1 {
        font-family: 'Days One', serif;
    }

    a { color: @linktext; }

    &>header {
        text-shadow: 0.1em -0.05em 0.2em #333;
        background: @beta;
        padding: 1em;
        margin: 2em;
        box-shadow: 0.3em -0.2em 0.5em 0 #333;
        border-radius: 1em;

        img { 
            padding: 1em;
            float: left; 
        }
    }

    &>footer {
        position: absolute;
        top: 90%;
        width: 90%;
        background: @beta;
        padding: 1em;
        margin: 2em;
        border-radius: 1em;
    }

    .category-content, #landing-page {
        display: none;
        padding: 1em;
        margin-top: 0.5em;
        border-radius: 1em;
        background: white;
        color: black;
        height: 60%;
        overflow: scroll;

        h1, h2 { color: @beta; }
        position: absolute;
        width: 60%;
    };

    #landing-page { 
        display: block 
    };

    #category-menu {
        &>ul { 
            
            list-style: none;

            &>li {

                display: inline;
                margin: .1em;

                background: mix(@gamma, @beta, 50%);
                padding: 1em;
                border-top-left-radius: 0.5em;
                border-top-right-radius: 0.5em;
                border: solid white 3px;

                box-shadow: 0.3em -0.2em 0.5em 0 #333;

                h1 { display: inline; };
                &:hover {
                    background: white;

                    .category-content {
                        display: block;
                    }
                }
            }
        }
    }
}
